<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HarSharp" version="1.0.0" targetFramework="net45" />
  <package id="HelperSharp" version="0.0.4.1" targetFramework="net45" />
  <package id="Microsoft.CodeCoverage" version="16.8.3" targetFramework="net461" />
  <package id="Microsoft.NET.Test.Sdk" version="16.8.3" targetFramework="net461" />
  <package id="Moq" version="4.2.1510.2205" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="net45" />
  <package id="NUnit" version="3.13.0" targetFramework="net461" />
  <package id="NUnit3TestAdapter" version="3.17.0" targetFramework="net461" />
  <package id="RestSharp" version="106.11.7" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net461" />
</packages>